{% load static %} {% block content %} {% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-sm alert-{{ message.tags }}" {% endif %} id="message_container">
        {{ message }}
</div>
{% endfor %}
</div>
{% endif %}

<script>
    // suppose the `id` attribute of element is `message_container`.
    var message_ele = document.getElementById("message_container");

    setTimeout(function() {
        message_ele.style.display = "none";
    }, 2000);
</script>

{% endblock %}