{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row" align="center">
    <div class="col-md-4"></div>
    <div class="col-md-4"> 
    <div class='card mt-5'>
    <div class='card-body'>
        <div class='card-title px-3'>
           <h4>Change your Email Address</h4>
        </div>
            <form action="{% url 'update-user' %}" method="post">
            {% csrf_token %}
            {% include 'partials/_messages.html' %}

                <div class="form-group" style="margin-top:10px">
                    <input
                        type="email"
                        name="email"
                        placeholder="your email"
                        class="form-control form-control-sm"
                        id="email"
                    />
                <input type="submit" value="Submit" class="btn btn-block btn-primary submitBtn"/>
            </form>
        </div>
    </div> 
    </div>
    </div>
</div>
{% endblock %}